/data/derived/
/data/raw/
/thesis_venv/
/papers/
/src/.RData
/src/.Rhistory

**/.RData
.RData

/*.egg-info # pixi environments
.pixi/*
!.pixi/config.toml

/multirun/
/outputs/
/mlruns/

/.vscode/

*/__pycache/
